@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
}
body{
    height: 100vh;
    padding: 50px;
}
button{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: black;
}
.game-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}
.status{
    font-size: 40px;
}

.play-again{
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 20px;
}
.play-again:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px) {
    button {
        height: 75px;
        width: 75px;
        font-size: 15vw;
    }
    h1{
        font-size: 40px;
    }
}

.play-now{
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 20px;
}
.play-now:hover{
    background-color: black;
    color: white;
}

.container{
    height: 100vh;
    background-image: url("riho-kroll-m4sGYaHYN5o-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}